.destination-header {
  font-family: var(--secondary_font);
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/images/hero-image/hero-image-5.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  height: 100vh;
  background-color: #f9f9f9;
  margin-bottom: 4rem;
}

.destination-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-size: 4.25rem;
  font-weight: 600;
  color: #fff;
  font-family: var(--secondary_font);
  text-align: center;
}
