.cart-header {
  font-family: var(--secondary_font);
  display: block;
  position: relative;
  margin: 0 auto;
  height: 40vh;
  background: linear-gradient(to right, var(--clr_jaffa), var(--clr_minsk));
  color: #fff;
  padding-top: 100px;
  margin-bottom: 4rem;
}

.cart-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-size: 3.125rem;
  font-weight: 700;
  color: #fff;
  font-family: var(--secondary_font);
  text-align: center;
}
