.cart-header {
  font-family: var(--secondary_font);
  display: block;
  position: relative;
  top: 4rem;
  /* width: 90%; */
  margin: 0 auto;
  background-color: #f9f9f9;
  padding-top: 100px;
}

.cart-header h1 {
  font-size: 3.125rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  padding-bottom: 100px;
  margin-bottom: 150px;
  text-align: center;
}
