.shopping-header {
  font-family: var(--secondary_font);
  background: linear-gradient(to right, var(--clr_jaffa), var(--clr_minsk));
  color: #fff;
  background-size: cover;
  display: block;
  position: relative;
  top: 4rem;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.shopping-header h1 {
  font-size: 3.125rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  padding: 150px;
  margin-bottom: 150px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .shopping-header h1 {
    font-size: 2.75rem;
  }
}