.shopping-header {
  font-family: var(--secondary_font);
  background: linear-gradient(to right, var(--clr_jaffa), var(--clr_minsk));
  color: #fff;
  background-size: cover;
  display: block;
  position: relative;
  height: 50vh;
  margin: 0 auto;
  margin-bottom: 4rem;
  background-color: #f9f9f9;
}

.shopping-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-size: 4.25rem;
  font-weight: 600;
  color: #fff;
  font-family: var(--secondary_font);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .shopping-header h1 {
    font-size: 2.75rem;
  }
}