.shopping-content {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .shopping-content {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .shopping-content {
        width: 90%;
    }
}