.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  height: 4rem;
  background-color: var(--bs-white);
  z-index: 100;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
}

.logo {
  font-family: 'The Nautigal', sans-serif;
  color: var(--bs-orange);
  font-size: 3rem;
  font-weight: 700;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  margin: 10px 20px;
  font-weight: 700;
}

.navigation ul li a {
  font-weight: 700;
  font-size: 1rem;
}

.navigation ul li a:hover {
  color: var(--clr_jaffa);
}

.shopping-cart-icon {
  position: relative;
  cursor: pointer;
}

.shopping-cart-icon span {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: crimson;
  color: var(--clr_white);
  font-size: 0.8rem;
  padding: 0 5px;
  border-radius: 60%;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1rem 5%;
  }
  .navigation ul li {
    margin: 10px 15px;
  }
  .navigation ul li a {
    font-weight: 700;
    font-size: 0.75rem;
  }
}