.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 24px; */
  margin: 2rem auto;
  width: 90%;
}

.no-tour-inform {
  font-family: var(--secondary_font);
  text-align: center;
  font-size: 2.5rem;
  color: var(--clr_jaffa);
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
