.tour-search {
  font-family: var(--secondary_font);
  background-image: url("../../public/images/hero-image/hero-image-4.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  top: 4rem;
  /* width: 90%; */
  margin: 0 auto;
  background-color: #f9f9f9;
  padding-top: 100px;
}

.tour-search h1 {
  font-size: 3.125rem;  
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  margin-bottom: 100px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  padding-bottom: 100px;
  margin-bottom: 150px;
}

.form .form-controls {
  display: flex;
  width: 100%;
}

.form .form-control {
  /* padding: 10px; */
  flex: 1;
}

.form .form-control select {
  width: 100%;
  padding: 16px;
  border: 1px solid rgb(213, 213, 213);
  border-right: none;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--clr_white);
}

.form .form-control option {
  font-family: inherit;
}

.form button {
  display: inline-block;
  height: 53px;
  margin: 0;
  padding: 0 30px;
  width: 210px;
  border: none;
  cursor: pointer;
  background-color: var(--clr_jaffa);
  color: var(--clr_white);
  font-family: inherit;
  font-size: inherit;
}

@media screen and (max-width: 1024px) {
  .tour-search h1 {
    margin-bottom: 50px;
  }
  .form .form-control select {
    font-size: 0.75rem;
    padding: 16px 10px;
  }
  .form button {
    display: inline-block;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 150px;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .tour-search h1 {
    margin-bottom: 25px;
    font-size: 2.75rem;
  }
  .form .form-control select {
    font-size: 0.6rem;
    padding: 10px 5px;
  }
  .form button {
    height: 36px;
    font-size: 0.75rem;
    width: 110px;
  }
}