.tour-search {
  font-family: var(--secondary_font);
  /* background-image: url('../../public/images/hero-image/hero-image-4.jpg'); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/images/hero-image/hero-image-4.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  top: 4rem;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding-top: 100px;
}

.tour-search h1 {
  font-size: 3.125rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  margin-bottom: 4rem;
  text-align: center;
  color: #fff;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  padding-bottom: 100px;
  margin-bottom: 150px;
}

.form .form-controls {
  display: flex;
  width: 100%;
}

.form .form-control {
  /* padding: 10px; */
  flex: 1;
}

.form .form-control select {
  width: 100%;
  padding: 0.75rem 0rem 0.75rem 0.75rem;
  border: 1px solid rgb(213, 213, 213);
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-family: inherit;
  font-size: 1rem;
  background-color: var(--clr_white);
  color: rgba(0, 0, 0, 0.5);

  /* for Chrome */
  -webkit-appearance: none;
}

.form .form-control select:focus {
  border: none;
}

.form .form-control select option {
  font-family: inherit;
}

.form button {
  display: inline-block;
  height: 3rem;
  margin: 0;
  padding: 0 0.75rem;
  width: 210px;
  border: none;
  cursor: pointer;
  background-color: var(--clr_jaffa);
  color: var(--clr_white);
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  border-radius: 0px 4px 4px 0px;
}

@media screen and (max-width: 1024px) {
  .tour-search h1 {
    margin-bottom: 50px;
  }
  .form .form-control select {
    font-size: 0.75rem;
    padding: 16px 10px;
  }
  .form button {
    display: inline-block;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 150px;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .tour-search h1 {
    margin-bottom: 25px;
    font-size: 2.75rem;
  }
  .form .form-control select {
    font-size: 0.6rem;
    padding: 10px 5px;
  }
  .form button {
    height: 36px;
    font-size: 0.75rem;
    width: 110px;
  }
}
