.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 24px; */
  margin: 2rem auto;
  width: 90%;
}

@media screen and (max-width: 1024px) {
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
