.contact-us-header {
  font-family: var(--secondary_font);
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/images/hero-image/hero-image-2.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.contact-us-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-size: 3.125rem;
  font-weight: 700;
  color: #fff;
  font-family: var(--secondary_font);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact-us-header h1 {
    font-size: 2.75rem;
  }
}