.contact-us-header {
  font-family: var(--secondary_font);
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/images/hero-image/hero-image-2.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  top: 4rem;
  /* width: 90%; */
  margin: 0 auto;
  background-color: #f9f9f9;
  /* padding-top: 100px; */
}

.contact-us-header h1 {
  font-size: 3.125rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  padding: 150px 0;
  margin-bottom: 150px;
  text-align: center;
  color: var(--clr_white);
}

@media screen and (max-width: 768px) {
  .contact-us-header h1 {
    font-size: 2.75rem;
  }
}