.services {
  width: 90%;
  margin: 100px auto;
  font-family: var(--secondary_font);
}

.services .services-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.services .services-header span {
  color: var(--clr_jaffa);
  position: relative;
  line-height: 1.5;
  display: inline-block;
  font-weight: 600;
}

.services .services-header h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
  color: var(--clr_thunder);
}

.services .services-content {
  display: flex;
  gap: 24px;
}

.services .services-content .services-item {
  border: 1px solid #dfdfdf;
  border-radius: 0 15px 0 15px;
  flex: 1;
  text-align: center;
  padding: 1rem 0;
}

.services .services-content .services-item:hover {
  transform: translate(0, -0.5rem);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.services .services-content .image-container {
  text-align: center;
  padding: 20px;
  border-radius: 0 15px 0 15px;
  left: 10px;
  cursor: pointer;
}

.services .services-content .image-container:hover {
  border: none;
}

.services .services-content h2 {
  margin: 20px 0 5px 0;
  transition: 0.3s;
  font-weight: 700;
  font-size: 1rem;
  cursor: default;
}

.services .services-content h2:hover {
  color: var(--clr_jaffa);
}

.services .services-content span {
  color: var(--clr_jaffa);
  position: relative;
  line-height: 1.5;
  display: inline-block;
  font-weight: 600;
  /* cursor: pointer; */
}

@media screen and (max-width: 768px) {
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
