.hero-image {
  /* top: 4rem; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/images/hero-image/hero-image-6.jpg");
  height: 100vh;
  min-height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: var(--secondary_font);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  color: #fff;
}

.hero-text span {
  color: var(--clr_jaffa);
}

.hero-text h1 {
  font-weight: 600;
  font-size: 4.25rem;
  line-height: 1.2;
  margin: 0 0 36px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .hero-text h1 {
    font-size: 2.75rem;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero-image {
    height: 560px;
  }
  .hero-text h1 {
    font-size: 2.5rem;
    width: 100%;
  }
}
